<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <h2 class="text-center" ng-if="operacao == 1">Cadastrar pedido</h2>
            <h2 class="text-center" ng-if="operacao == 2">Editar pedido</h2>
            <form novalidate ng-if="operacao == 2">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="isbn">Isbn</label>
                        <input type="text" class="form-control " name="isbn" ng-model="pedido.Isbn">                   
                    </div>
                    <div class="form-group col-md-2 col-md-offset-2">
                        <button class="btn btn-default text-right"  ng-click="buscar(pedido.Isbn)" style="margin-top: 25px">Buscar</button>
                    </div>      
                </div>  
            </form>
            <form novalidate name="novoPedido" ng-submit="criar(pedido)">        
                <div class="row">
                    <div class="form-group col-md-3 col-sm-3">
                        <label for="cliente">CPF do Cliente</label>
                        <input type="text" class="form-control" name="cliente" ng-model="pedido.CpfCliente" placeholder="obrigatório">
                    </div>                
                    <div class="form-group col-md-2 col-sm-2">
                        <button class="btn btn-default text-right"  ng-click="buscarCliente(pedido.CpfCliente)" style="margin-top: 25px">Buscar</button>
                    </div>
                    <div style="margin-top: 28px; font-weight: bold; font-size: 17px" class="col-md-7 text-center col-sm-7">
                        <p>{{cliente.Nome}}</p>
                    </div> 
                </div>

                <div class="form-group">
                    <label for="produto">Produto</label>                    
                    <select name="produto" class="form-control" ng-model="pedido.IdProduto" >
                        <option value="" ng-repeat="produto in produtos">{{produto.Nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pacote">Opcional</label>                    
                    <select name="pacote" class="form-control" ng-model="pedido.IdPacote" >
                        <option value="" ng-repeat="pacote in pacotes">{{pacote.Nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="opcional">Opcional</label>                    
                    <select name="opcional" class="form-control" ng-model="pedido.IdOpcional" >
                        <option value="" ng-repeat="opcional in opcionais">{{opcional.Nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data-publicacao">Dias de Locação</label>                    
                    <input type="number" class="form-control" name="data-publicacao" ng-model="pedido.DiasAlugado" >
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-lg btn-primary" ng-if="operacao == 1">Criar</button>
                    <button type="submit" class="btn btn-lg btn-warning" ng-if="operacao == 2">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>