* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}


.container {
    
}

.livros-em-destaque {
    background-color: #FF6347;
    margin-bottom: 15px;
}

.livros-em-destaque > .livros-em-destaque-col{
    padding: 10px 50px;
}
.livros-em-destaque .livro-destaque {    
    width: 13.5%;
    float: left;
    margin: 4px;
    border: 1px solid #ddd;
    background-color: white;
}

.livros-em-destaque .livro-destaque .capa-livro{
    height: 170px;
    border: 1px solid #ccc;
    overflow: hidden;    
}

.destaques-rotulo {
    background-color: black;
    line-height: 38px;
    height: 38px;
    color: white;
    z-index: 1;
}

.destaques-rotulo h2 {
    margin: 7 0 0 0;
        font-size: 24px;
}

.livros-em-destaque .capa-livro img {
    width: 100%;
    z-index: 2;
}

.banner {
    height: 100px;
    color: black;
    background-color: #B22222;
}
.banner h1 {
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Barrio', cursive;
    color: black;
}

.banner img {
    width: 100%;
    position: absolute;
}

.banner .esquerda{
    transform: scaleX(-1);
}

.livros-publicados {

}

.livros-publicados .livro {
    padding: 6px;
}

.livros-publicados .livro > div {
    border: 1px solid #ddd;
    background-color: white;
    padding: 6px;
    height: 430px;
}

.livros-publicados .livro .livro-capa {
    border: 1px solid #aaa;
    overflow: hidden;
    height: 300px;
}

.livros-publicados .livro .livro-capa img{
    width: 100%;
}

.livros-publicados .livro .livro-dados {

}

.livros-publicados .livro .livro-dados span{
    font-weight: 700;
}

.guia-paginas {
    margin: 25px;
}

.usuarioLogado,  .usuarioLogado a{
    padding-top: 22px;
    color: black;
    line-height: 20px;
}

.usuarioLogado span {
    font-weight: bold;

}