.tela-home .menu-amigos {
    background-color: #f6f7f9;
    border: 1px solid #D3D3D3;
}

.tela-home .menu-amigos .titulo {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tela-home .menu-amigos .amigo  {
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #DCDCDC;
}

.tela-home .menu-amigos .amigo .img-.tela-home perfil {
    margin-left: 6px;
    margin-right: 6px;
    height: 22px;
    width: 22px;
}

.tela-home .menu-amigos .amigo .img.tela-home -perfil img {
    height: 22px;
    width: 22px;
}

.tela-home .menu-amigos .amigo .amigo-nome {
    padding-top: px;
}

.tela-home .comentario {

}

.tela-home .comentario .comentario-img {
    margin-left: 12px;
}

.tela-home .comentario .comentario-img,  .comentario-img img{
    height: 16px;
    width: 16px;
}

.tela-home .apoios > div{
    padding-left: 6px;
}

.tela-home .comentario .comentario-nome {
    font-weight: bold;
}

.tela-home .comentario .comentario-mensagem {

}
