* {
    box-sizing: border-box;
}

input[type="text"] {
  background-color: white !important;
}
.container-fluid, .container {
    padding: 0;
}

.tela-login a {
    text-decoration: none;
}

.tela-login .corpo {
    background-color: rgb(233,235,238);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.tela-login .container {
    width: 980px;
}

.tela-login header {
    background-color: #42b267;
    border-bottom: 1px solid #2c9946;
    min-height: 82px;
}

.tela-login header .menubar {
    margin: 0 auto;
    padding-top: 13px;
}

.tela-login header .menubar .logo h1{
    margin: 0;
    padding: 0;
}



.tela-login header .menubar .login  form{
    float: right;
    margin-right: 24px;
}

 .tela-login .logo {
    color: white;
}

.tela-login div.logo > h1 div{
    width: 170px;
    height: 34px;
    background-position: 0 0;
    margin-top: 14px;

}

.tela-login .logo > h1  div span{
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 39px;
}

.tela-login body > div > header > div > div > div.login {
    float: right;
}

.tela-login header div.login > form {
    margin: 0;
    padding: 0;
}

.tela-login header .login > form > table {
    display: table;
    border-collapse: separate;
}

.tela-login header .login table > tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: none;
}

.tela-login header .login table > tbody > tr {
    vertical-align: top;
    width: 392px;
    height: 21px;
}

.tela-login  header  .login  form > table > tbody > tr > td {
    display: table-cell;
    padding: 0 0 0 14px;
}

.tela-login header .login form > table > tbody > tr:nth-child(2) > td > input {
    border: 1px solid #2c9946;
    margin: 0;
    width: 142px;
    padding-bottom: 4px;
}

.tela-login header .login form  > table > tbody > tr:nth-child(1) > td {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 4px;
}

.tela-login #email {
    margin: 0;
    width: 142px;
    padding-bottom: 4px;
}
.tela-login header .login  form > table > tbody > tr:nth-child(2) > td:nth-child(3) {
    width: 53px;
}


.tela-login header .login  form > table > tbody > tr:nth-child(2) > td:nth-child(3) > input[type="submit"] {
        color: #fff;
        border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
    background-color: #64e479;
    border: 1px solid #2c9946;
    width: 53px;
}

.tela-login header .login  form > table > tbody > tr:nth-child(3) > td:nth-child(2) > div > a {
    color: #9cd8b4;
    font-weight: normal;
}

.tela-login article {
    background-color: rgb(233,235,238);
}

.tela-login article > div:nth-child(1) {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #e9ebee;

}

.tela-login article > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(1) > div h3{
    padding-bottom: 43px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.tela-login article > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2) > div > div {
    width: 100%;
}

.tela-login article > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(2) > div > div img{
    width: 100%;
    opacity: 0.7;
}

.tela-login article > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(1) > div h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    font-size: 45px;
    font-weight: bold;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(2) > div {
    border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form input,
.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form label {
    font-size: 18px;

}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form input[type="text"],
.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form input[type="email"] {
    padding: 8px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 10px;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form > div:nth-child(4) > div > div:nth-child(2) > div:nth-child(2) > a {
    font-size: 13px;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form > div:nth-child(4) > div > .contrato > div{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form > div:nth-child(4) > div > .contrato > div p{
    color: #777;
    font-size: 11px;
    width: 316px;
}

.tela-login article > div:nth-child(1) > div > div.col-md-5.col-md-offset-1 > div:nth-child(3) > div:nth-child(1) > div > form > div:nth-child(4) > div > div.abrir-conta > div > button {
    background: linear-gradient(#79bc64, #578843);
        font-size: 19px;
        top: 1px;
        font-weight: bold !important;
        text-rendering: optimizelegibility;
        min-width: 194px;
        padding: 7px 20px;
        color: white;
}

.tela-login footer {
    background-color: white;
    font-size: 12px;
}

.tela-login footer > div > .rodape {
    color: #737373;
    margin: 0 auto;
}

.tela-login footer > div > .rodape > div:nth-child(1) > div > ul {
    padding-top: 8px;
}

.tela-login footer > div > .rodape .divisao {
        border-top: 1px solid #e9ebee;
    margin: 6px 0 9px;
}

.tela-login footer > div > .rodape table {
    line-height: 20px;
}

.tela-login footer > div > .rodape table td {
    padding-right: 10px;
    text-align: left;
}
