* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: rgb(233,235,238);
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

img {
    border: 0;
}

.container {
    
}

header {
    background-color: #42b267;
    border-bottom: 1px solid #2c9946;
}

header .header {
    margin: 7px 0 8px 0;
}

.fa .fa-contao .fa-2x .fa-inverse {
    float: left;
}

.pesquisa {
    padding-left: 0;
}

#busca-pessoas {
    /*float: left;*/
    position: relative;
    padding-left: 0;
}

.busca-pessoas .form-group-sm input{
    line-height: 1.2;
    height: 26px;
    width: 95%;
    margin-right: -46px;
    border: none;
    border-radius: 2px 0 0 2px;    
}

.busca-pessoas .btn-busca-pessoas {
    background-color: #f6f7f9;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 26px;
    width: 46px;
    position: absolute;
    right: 0;
}

.busca-pessoas .btn-busca-pessoas .glyphicon-search {
    margin-top: 3px;
}

.menu-usuario {
    color: white;
    text-decoration: none;
    line-height: 28px;
    font-weight: bold;
    font-size: 12px;
}

.menu-usuario a{
     color: white;   
}

.menu-usuario .perfil{ 
    border-right: 1px solid #2c9946;
    padding-right: 0;    
}


.menu-usuario .perfil-nome::before {
    
}

.perfil-img {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    box-sizing: border-box;
    content: '';
    height: 24px;
    position: absolute;
    top: 2px;
    width: 24px;
    background-color: white;
    display: inline-block;
    vertical-align: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: content-box;
    background-origin: content-box;
}


.perfil-nome {
    background-color: transparent;
    display: inline-block;  
    -webkit-font-smoothing: antialiased;    
    height: 27px;
    padding: 0 10px 1px;
    position: relative;    
    vertical-align: top;
    white-space: nowrap;    
}

.pagina-inicial::before {
    content: '';
    display: block;
    height: 18px;
    left: -1px;
    position: absolute;
    top: 12px;
    width: 1px;
}


.pagina-inicial {
    background-color: transparent;
    display: inline-block;;
    -webkit-font-smoothing: antialiased;
    height: 27px;
    line-height: 28px;
    padding: 0 10px 1px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}

.navegacao {
    padding-left: 4px;
}

.navegacao-icone-icone{ 
    background-image: url(../img/icones.png);
    background-repeat: no-repeat;
    background-size: auto;
    opacity: .6;
    background-clip: content-box;
    background-origin: content-box;
    height: 24px;
    width: 24px;    
}
 .amizade{ 
    background-position: 0 -113px;
}

.mensagens{ 
    background-position: 0 -363px;
}

.sair {
    padding: 5px 4px;
    background-image: url(../img/icones4.png);
    background-position: 0 -113px;
}

.navegacao .navegacao-icone .navegacao-icone-icone a div.notificacoes{ 
    background-position: 0 -163px;
}

section .postagens {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 14px;
    border-radius: 4px;    
    border: 1px solid #D3D3D3;
    border-bottom-width: 2px;
}

.postagens.publicacao {
    padding-top: 0;
}

.postagens .divisao {
    margin-top: 10px;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 10px;
}

.publicacao .abas {
    background-color: #f6f7f9;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #DCDCDC;
}

.publicacao .abas .aba {
    font-weight: bold;
}

.publicacao .abas .aba .icone{
    margin-right: 6px;
}

.publicacao .corpo {
    padding-top: 10px;    
    background-color: white;
}

.img-perfil {
    width: 40px;
    height: 40px;
    background: gray;
} 

.img-perfil img {
    width: 40px;
    height: 40px;
}

.postagem {
    padding-bottom: 0 !important;
}

.postagem .header .titulo {
    color: #006400;
}

.postagem .header .titulo .nome {
    font-weight: bold;
}

.postagem .header .titulo .data {
    color: #90949c;
}

.postagem .corpo {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: white;
}

.postagem .corpo .imagem {
    min-height: 300px;
    width: 100%;
    background: gray;
}

.postagem .reacao {
    color: #4b4f56;
    font-size: 13px;
    font-weight: bold;
}

.postagem .footer {
    border-top: 1px solid #DCDCDC;;
    border-radius: 0 0 4px 4px;
    background-color: #f6f7f9;
    padding: 10px;
}


