* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

a {
    color: black;
}


.container {
    
}

.pedidos-em-destaque {
    background-color: #FF6347;
    margin-bottom: 15px;
}

.pedidos-em-destaque > .pedidos-em-destaque-col{
    padding: 10px 50px;
}
.pedidos-em-destaque .pedido-destaque {    
    width: 13.5%;
    float: left;
    margin: 4px;
    border: 1px solid #ddd;
    background-color: white;
}

.pedidos-em-destaque .pedido-destaque .capa-pedido{
    height: 170px;
    border: 1px solid #ccc;
    overflow: hidden;    
}

.destaques-rotulo {
    background-color: black;
    line-height: 38px;
    height: 38px;
    color: white;
    z-index: 1;
}

.destaques-rotulo h2 {
    margin: 7 0 0 0;
        font-size: 24px;
}

.pedidos-em-destaque .capa-pedido img {
    width: 100%;
    z-index: 2;
}

.banner {
    height: 100px;
    color: black;
    background-color: #B22222;
}
.banner h1 {
    margin-top: 30px;
    font-size: 36px;
    font-family: 'Barrio', cursive;
    color: black;
}

.banner img {
    width: 100%;
    position: absolute;
}

.banner .esquerda{
    transform: scaleX(-1);
}

.pedidos-publicados {

}

.pedidos-publicados .pedido {
    padding: 6px;
}

.pedidos-publicados .pedido > div {
    border: 1px solid #ddd;
    background-color: white;
    padding: 6px;
    height: 430px;
}

.pedidos-publicados .pedido .pedido-capa {
    border: 1px solid #aaa;
    overflow: hidden;
    height: 300px;
}

.pedidos-publicados .pedido .pedido-capa img{
    width: 100%;
}

.pedidos-publicados .pedido .pedido-dados {

}

.pedidos-publicados .pedido .pedido-dados span{
    font-weight: 700;
}

.guia-paginas {
    margin: 25px;
}


.usuarioLogado .user {
    border-radius: 50%;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

.usuarioLogado,  .usuarioLogado a{
    padding-top: 10px;
    color: black;
    line-height: 20px;
}

.usuarioLogado span {
    font-weight: bold;

}

.itens-menu {
    font-size: 20px;
}
