body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body .clear-fix {
  content: "";
  display: block;
  clear: both;
}

body > .container {
  width: 960px;
  margin: auto;
}

body > .container > .header {
  background-color: #c4170c;
  height: 56px;
  border-bottom: 2px solid rgb(217, 112, 105);
  padding-top: 18px;
  box-sizing: border-box;
}

body > .container > .header h1{
  color: white;
  text-align: center;
  font-weight: 600;
  margin: 0;
  font-size: 18px;
}

body > .container > .article {

}

body > .container > .article > .col {
  float: left;
  width: 50%;
  box-sizing: border-box;
  background-color: #fafafa;
}

body > .container > .article > .col-left {
  padding: 15px 1.6% 10px 6.5%;
}

body > .container > .article > .col-right {
  padding: 15px 6.5% 10px 1.6%;
}

body > .container > .article > .col > .noticia {
  border: 1px solid rgb(238, 238,238);
  padding: 18px 6.5%;
  margin-bottom: 20px;
  background-color: white;
}

body > .container > .article > .col > .noticia h2{
  color: #c4170c;
  font-size: 28px;
  font-stretch: condensed;
  /*falta aqui diminuir o espaçamento e aumentar a letra ========== */
  margin: 0 0 6px 0;
  text-shadow: -0.8px 0.8px rgb(217, 112, 105);
  line-height: 26px;
  font-family: 'Calibri', sans-serif;
}

body > .container > .article > .col > .noticia > h6 {
  color: #bbb;
  font-size: 13px;
  font-weight: normal;
  font-stretch: expanded;
  margin: 15px 0;
}

body > .container > .article > .col > .noticia > p {
	color: #333;
  font-size: 13px;
  line-height: 20px;
}

body > .container > .article > .col > .noticia > br + p:first-letter
, img + p:first-letter {
  font-size: 325%;
  color: #c4170c;
  float: left;
  line-height: 40px;
  padding-right: 6px;
}

body > .container > .article > .col > .noticia > .footer {
  font-size: 11px;
  text-align: right;
  color: rgb(238, 238,238);
}

body > .container > .article > .col > .noticia > img {
  float: right;
  width: 30%;
  margin-top: 20px;
  margin-left: 1em;
}
