.container .corpo .imagem{
  float: left;
    margin-right: 16px;
    width: 260px;
}

.container .corpo .imagem img {
  width: 100%;
}

.container .corpo .texto span {
  font-weight: 900;
  font-stretch: expanded;
  text-shadow: 0.1px 0.1px;
  margin-right: 5px;
}
