@font-face {
    font-family: Game-of-Thrones;
    src: url(../font/Game-of-Thrones.ttf);
}

body {
  margin: 0;
  background-color: #111;
}

h1, h2, h3, nav {
  font-family: "Game-of-Thrones", Game-of-Thrones, serif;
}

* {
  box-sizing: border-box;
}

.clear-fix{
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 960px;
  margin: auto;
  background-color: #fcfcfc;
}

header {
    background-image: url(../img/casas1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(.9) grayscale(.3);
    position: relative;
    height: 220px;
}

header .titulo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
}

header .titulo h1 {
    margin: 0;
    text-align: center;
    color: #fcfcfc;
    text-shadow: 2px 2px black;
    font-size: 38px;
    line-height: 60px;
}

nav {
  background-color: #111;
  /*border-bottom: 1px solid #111;
  border-top: 1px solid #111;*/
  position: relative;
}

nav ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

nav ul li.nav-bar {
  width: 11.111111%; /*futuramente mexer aqui*/
  display: inline-block;
  text-align: center;
}

nav ul li.nav-bar:hover {
  background-color: #020202;
}

nav .bandeira {
  position: absolute;
  height: 150px;
  width: 11.111111%; /*futuramente mexer aqui*/
  background-size: 920%; /*futuramente mexer aqui: fiz isso para pegar a imagem no tamanho que eu precisava*/
  background-image: url(../img/casas1.jpg);
}

nav .bandeira-stark{
  background-position: 0 200px;
}

nav .bandeira-arryn{
  left: 11.111111%; /*futuramente mexer aqui*/
  background-position: -110px 200px;
}

nav .bandeira-tully{
  left: 22.222222222%; /*futuramente mexer aqui*/
  background-position: -220px 200px;
}

nav .bandeira-greyjoy{
  left: 33.333333333%; /*futuramente mexer aqui*/
  background-position: -330px 200px;
}

nav .bandeira-lannister{
  left: 44.44444444444%; /*futuramente mexer aqui*/
  background-position: -438px 200px;
}

nav .bandeira-baratheon{
  left: 55.555555555%; /*futuramente mexer aqui*/
  background-position: -548px 200px;
}

nav .bandeira-tyrell{
  left: 66.66666666666%; /*futuramente mexer aqui*/
  background-position: -654px 200px;
}

nav .bandeira-martell{
  left: 77.77777777777%; /*futuramente mexer aqui*/
  background-position: -762px 200px;
}

nav .bandeira-targaryen{
  left: 88.888888888888%; /*futuramente mexer aqui*/
  background-position: -870px 200px;
  width: 11.115%; /*futuramente mexer aqui*/
}

nav ul li.nav-bar a{
  text-decoration: none;
  font-size: 10px;
  line-height: 44px;
  color: #fcfcfc;
}
