<div>   
    <div class="container">          
        <div class="livros-em-destaque text-center row">            
            <div class="livros-em-destaque-col clearfix">
                    <div class="livro-destaque" ng-repeat="livroDestaque in livrosDestaque" ng-click="livroDetalhado(livroDestaque.Isbn)">
                        <div class="capa-livro"> 
                            <img ng-src="{{livroDestaque.Capa}}" alt="">
                        </div>
                        <!--<div>
                            <h5 class="text-center">{{livroDestaque.Titulo}}</h5>
                            <div class="livro-dados"><span>Autor: </span>{{livroDestaque.Autor.Nome}}</div>
                            <div class="livro-dados"><span>Gênero: </span>{{livroDestaque.Genero}}</div>
                        </div>-->
                    </div>
               
              </div>
            <div class="col-md-12 destaques-rotulo">
                <h2 class="text-center">Destaques da semana</h2>
            </div>            
        </div>    
        <div class="row">
            <div class="col-md-12">
                <a href="#!/detalhado/1"><h3>Os Últimos Lançamentos</h3></a>
            </div>
        </div>    
        <div class="corpo-pagina row">
            <div class="livros-publicados col-md-10 col-md-offset-1"> 
                <div class="livro col-md-3" ng-repeat="livroPublicado in livrosPublicados">
                    <div>
                        <div class="livro-capa">                    
                            <img ng-src="{{livroPublicado.Capa}}" alt="">         
                        </div>
                        <h4 class="text-center">{{livroPublicado.Titulo}}</h4>
                        <div class="livro-dados"><span>Autor: </span>{{livroPublicado.Autor.Nome}}</div>
                        <div class="livro-dados"><span>Gênero: </span>{{livroPublicado.Genero}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="guia-paginas text-center row">
            <div class="col-md-2 col-md-offset-3">
                <button class="btn btn-default" ng-click="paginaAnterior(paginaAtual)">Página Anterior</button>
            </div>
            <div class="col-md-2">
                <h5 class="h5">Página: {{paginaAtual}}<h5>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="proximaPagina(paginaAtual)">Próxima Página</button>
            </div>
        </div>
    </div>
</div>